<html>
    <head>
        <title>ICCG's First Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Look at me go!</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>To think I got my first smartphone a month ago.</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>I'll remember you all when I sell my first app for millions.</p>
        </div>
    </body>
</html>